*{
    margin: 0;
}
h1{
  margin: 36px 20px 36px 24px;
  line-height: 1.8rem;
}
h2{
  text-align: center;
  margin: 32px 12px;
}
h3{
  font-size: 1.6rem;
  font-style: italic;
  margin: 32px 12px 12px 12px;
}
p{
  margin: 16px 24px;
}
/* form{
  align-items: center;
  justify-content: center;
} */
#guess-box input{
  margin: 18px 12px;
  padding: 12px 12px;
  border: 0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
#guess-box input:hover{
  background-color: rgb(45,45,45);
  color: rgb(255,255,255)
}
#new-word{
  margin: 18px 12px;
  padding: 12px 12px;
  border: 0;
  border-radius: 4px;
}
#new-word:hover{
  background-color: rgb(45,45,45);
  color: rgb(255,255,255)
}
.container {
  font-family: 'Fragment Mono', monospace;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 0.7fr 1.5fr 1.3fr 0.5fr;
  gap: 8px 0px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  /* justify-items: stretch; */
  /* align-items: center; */
  grid-template-areas:
      ". header ."
      ". def-div ."
      ". ans-div ."
      ". footer .";
  width: 100vw;
  height: 100vh;
}
  
.header { grid-area: header; }

.def-div { grid-area: def-div; }

.ans-div { grid-area: ans-div; }

/* .footer { grid-area: footer; } */
    
.header {
  display: flex;
  background-color: rgb(251, 212, 17);
  grid-column-start: 2;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.game-rules{
  align-items: center;
  justify-content: center;
}

.def-div {
  display: flex;
  background-color: rgb(84, 237, 251);
  flex-direction: column;
  align-items: center;
}
.ans-div{
  color: rgb(255,255,255);
  background-color: rgb(23,23,23);
  margin: 6px 12px;
  padding: 6px 12px;
  font-size: 1.2rem;
  display: flex;
}
.footer {
  display: flex;
  background-color: rgb(244, 83, 24);
  grid-column-start: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen (max-width: 1190px) {
  .container{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.7fr 1.5fr 1.3fr 0.5fr;
    gap: 8px 0px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    /* justify-items: stretch; */
    /* align-items: center; */
    grid-template-areas:
        ". header ."
        ". def-div ."
        ". ans-div ."
        ". footer .";
    width: 100vw;
    height: 100vh;
}

  }
}